@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #ffffff;
}

.bg-custom{
  background-color: rgb(3, 34, 69);
}

.web-extralight {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.web-light {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.web-regular {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.web-medium {
  font-family: "Titillium Web", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.web-semibold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.web-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.titillium-web-black {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.titillium-web-extralight-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.titillium-web-light-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.titillium-web-regular-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.titillium-web-semibold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.titillium-web-bold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.spinning-char {
  display: inline-block;
  transition: transform 1s ease-in-out;
}

.spinning-text {
  display: flex;
}

.spinning-char.spin {
  transform: rotateY(360deg);
}

/* For WebKit browsers (Chrome, Safari, and Edge) */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #ea0e0e; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a11919; 
  border-radius: 10px;
  border: 3px solid #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #a57a46 #f1f1f1;
}


/* styles.css */

/* Custom slider track */

